/*                              button  on header      */
.btn-h {
    background-color: #36383f;
    color: white;
    font-size: 1.25em;
    padding: 2px 10px;
    border: 1px solid #36383f;
    border-radius: 2px;
    outline: none;
    transition: 0.3s;
}

.btn-h:active {
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
}

/*          button  Create and this is the arrow     */
.btn-h >a  span.btn-h-c-right {
    color: green;
}

/*                              botton for sign up for free         */
.btn-n-3-1 {
    background-color: #4bce79;
    color: black;
    font-size: 2em;
    padding: 10px 25px;
    border: 1px solid  #4bce79;
    border-radius: 2px;
    outline: none;
    transition: 0.3s;
}

.btn-n-3-1:active {
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
}

/*                          botton for  learn More          */
.btn-n-3-2 {
    margin-left: 20px;
    background-color: #111111;
    color: white;
    font-size: 2em;
    padding: 10px 25px;
    border: 1px solid #111111;
    border-radius: 2px;
    outline: none;
    transition: 0.3s;
}

.btn-n-3-2:active {
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
}

/*                                      botton of the footer of the page        */
.btn-f {
    background-color: #888888;
    color: white;
    font-size: 2em;
    padding: 10px 25px;
    border: 1px solid #cccccc;
    border-radius: 2px;
    outline: none;
    transition: 0.3s;
}

.btn-f:active {
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
}
